<nav>
    <div class="container-lg">
        <div class="nav-brand-text">
            <span data_text="M"></span>
            <span data_text="i"></span>
            <span data_text="n"></span>
            <span data_text="g"></span>
            <span data_text="l"></span>
            <span data_text="e"></span>
        </div>

        <div class="nav-logo-container">
            <div class="logo-bg">
                <div class="border-bg"></div>
                <div class="central-menu-buttons">
                    <a routerLink="register" routerLinkActive="active">
                        <img src="/information-button.png" alt="" title="About Us">
                    </a>
                    <a href="/">
                        <img src="/home.png" alt="" title="Home">
                    </a>
                    <a href="#">
                        <img src="/contact-mail.png" alt="" title="Contact Us  ">
                    </a>
                </div>
            </div>

            <div class="logo">
                <img src="./true_logo.png" alt="Logo">
            </div>
        </div>

        <div class="nav-outline-buttons">
            <!-- <button class="flat-button">Login</button> -->
            <app-mingle-button buttonText="Login"></app-mingle-button>
        </div>
    </div>
</nav>