.nav-brand-text {
    font-family: 'Archivo Black';
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 900;
}

.nav-logo-container .logo img {
    max-width: 50px;
    cursor: pointer;

    transition: transform .3s;
}

.nav-logo-container .logo img.active {
    transform: translateY(8px) scale(1.2);
}

.nav-logo-container .logo-bg {
    border: 45px solid transparent;
    /* border: 45px solid var(--main-purple); */
    /* border-image: linear-gradient(to right, #3acfd5 0%, #3a4ed5 100%) 1; */
    background: linear-gradient(to top, var(--dark-shade), var(--dark-shade)) padding-box,
        linear-gradient(to top, var(--trn-purple), var(--trn-beige), var(--trn-red)) border-box;

    border-radius: 50%;
    width: 500px;
    height: 500px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-30%) rotate(180deg);

    opacity: 0;
    transition: opacity .3s, box-shadow .3s, transform .3s;
}

.nav-logo-container .logo-bg .border-bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 410px;
    height: 410px;

    background-color: #00000000;
    border-radius: 50%;
    border: 3px solid var(--main-beige);
}

.nav-logo-container .logo-bg.active {
    opacity: 1 !important;
    box-shadow: 0px 0px 0px 3px var(--main-beige);
}

.nav-logo-container .logo-bg.rotate {
    transform: translateX(-50%) translateY(-30%) rotate(0deg) !important;
}

.nav-logo-container .logo-bg .central-menu-buttons {
    left: 50%;
    transform: translateX(-50%)
}

.nav-logo-container .logo-bg .central-menu-buttons img {
    max-width: 32px;
    transform: translateY(200px);
    filter: invert(1);
}

/* Menu Buttons */
.nav-logo-container .logo-bg .central-menu-buttons a:nth-child(1) img {
    transform: translateX(-107px) translateY(180px);
}

.nav-logo-container .logo-bg .central-menu-buttons a:nth-child(2) img {
    transform: translateY(229px);
}

.nav-logo-container .logo-bg .central-menu-buttons a:nth-child(3) img {
    transform: translateX(107px) translateY(180px);
}

.nav-outline-buttons .flat-button {
    border: 1px solid var(--main-teal);
    background: none;

    color: var(--main-red);
    background-color: var(--main-beige);
    box-shadow: inset -1px 1px 5px #ffeacb;

    padding: 2px 15px 2px 15px;
    border-radius: 6px;

    font-family: 'Inconsolata';
    font-size: 18px;
    font-weight: 900;

    cursor: pointer;
    transition: background-color .3s, color .3s;
}

.nav-outline-buttons .flat-button:hover {
    background-color: var(--trn-purple);
    color: #f05f85;
    box-shadow: inset -1px 1px 5px #ac6cce, 0 0 10px var(--trn-teal);
}