<nav>
    <div class="nav-logo">
        <div class="logo">
            <img src="/true_logo.png" alt="">
        </div>
        <div class="brand">
            <span data_text="Mingle"></span>
        </div>
    </div>

    <div class="component">
        <button class="cn-button" id="cn-button">Menu</button>
        <div class="cn-wrapper" id="cn-wrapper">
            <ul>
                <li><a href="#"><span>About</span></a></li>
                <li><a href="#"><span>Tutorials</span></a></li>
                <li><a href="#"><span>Articles</span></a></li>
                <li><a href="#"><span>Snippets</span></a></li>
                <li><a href="#"><span>Plugins</span></a></li>
                <li><a href="#"><span>Contact</span></a></li>
                <li><a href="#"><span>Follow</span></a></li>
            </ul>
        </div>
        <!-- End of Nav Structure -->
    </div>

    <div class="buttons">
        <button class="text-button">About Us</button>
        <button class="text-button">Clubs</button>
        <button class="text-button">Contact Us</button>
        <button class="flat-button">Login</button>
    </div>
</nav>