nav {
    width: 100%;
    background-color: var(--trn-dark-shade);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 4px 20px 4px 20px;

    border-bottom: 0.5px solid var(--trn-beige);
}

div {
    color: var(--main-beige);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo .logo img {
    max-width: 50px;
    margin-right: 5px;
}

.nav-logo .brand {
    font-family: 'Archivo Black';
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 900;
}

.buttons {
    font-family: 'Inconsolata';
    font-size: 16px;
}

.buttons button {
    border: none;
    background: none;

    transition: background-color .3s, color .3s, font-weight 0.3s;
    font-size: 16px;
}

.buttons .text-button {
    margin-right: 20px;
    color: var(--main-beige);
}

.buttons .text-button:hover {
    color: var(--main-red);
}

.buttons .flat-button {
    color: var(--main-red);
    background-color: var(--main-beige);

    border-radius: 6px;
    padding: 5px 15px 5px 15px;
}

.buttons .flat-button:hover {
    background-color: var(--trn-purple);
    font-weight: 700;
}