.nav-brand-text {
    font-family: 'Archivo Black';
    font-size: 24px;
    letter-spacing: -1px;
    font-weight: 900;
}

.nav-brand-text span:nth-child(2) {
    color: var(--main-red);
}

.nav-brand-text span:nth-child(4) {
    color: var(--main-teal);
}

.nav-logo-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container .logo img {
    max-width: 50px;
    cursor: pointer;

    transition: transform .3s;
}

.nav-logo-container .logo img.active {
    transform: translateY(8px) scale(1.2);
}

.nav-logo-container .logo-bg {
    border: 45px solid transparent;
    background: linear-gradient(to top, var(--dark-shade), var(--dark-shade)) padding-box,
        linear-gradient(to top, var(--main-purple), var(--main-beige), var(--trn-red)) border-box;

    border-radius: 50%;
    width: 500px;
    height: 500px;

    position: absolute;
    left: 50%;
    transform: translateX(-50%) translateY(-30%) rotate(180deg);

    opacity: 0;
    transition: opacity .3s, box-shadow .3s, transform .3s;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container .logo-bg .border-bg {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 411px;
    height: 411px;

    background-color: #00000000;
    border-radius: 50%;
    border: 3px solid var(--main-beige);
}

.nav-logo-container .logo-bg.active {
    opacity: 1 !important;
    box-shadow: 0px 0px 0px 3px var(--main-beige);
}

.nav-logo-container .logo-bg.rotate {
    transform: translateX(-50%) translateY(-30%) rotate(0deg) !important;
}

.nav-logo-container .logo-bg .central-menu-buttons {
    left: 50%;
    transform: translateX(-50%);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-logo-container .logo-bg .central-menu-buttons img {
    max-width: 32px;
    transform: translateY(200px);
    filter: invert(1);
}

/* Menu Buttons */
.nav-logo-container .logo-bg .central-menu-buttons a:nth-child(1) img {
    transform: translateX(-107px) translateY(177px);
}

.nav-logo-container .logo-bg .central-menu-buttons a:nth-child(2) img {
    transform: translateY(226px);
}

.nav-logo-container .logo-bg .central-menu-buttons a:nth-child(3) img {
    transform: translateX(107px) translateY(177px);
}