<div class="main-div">
    <div class="title">
        <h1>
            <span data_text="H"></span>
            <span data_text="e"></span>
            <span data_text="l"></span>
            <span data_text="l"></span>
            <span data_text="o"></span>
            <span data_text=","></span>
            <br>{{name}}
        </h1>
    </div>

    <div class="operations-sec">
        <app-admin-operation-panel>
            <div title>Admin Operations</div>

            <div op1>Club Operations</div>
            <div op2>Member Operations</div>
            <div op3>Announcements</div>
        </app-admin-operation-panel>

        <div class="list">
            <div class="top-sec">
                <div class="list-desc">
                    <h1>
                        Profile Operations
                    </h1>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    </p>
                </div>

                <div class="avatar">
                    <img src="/user.png" alt="">
                </div>
            </div>

            <div class="bot-sec">

            </div>
        </div>
    </div>
</div>