@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Inconsolata:wght@200..900&display=swap');

:root {
    --main-purple: #5a3b6b;
    --main-red: #af4562;
    --main-beige: #e4cca7;
    --main-teal: #6f949e;
    --main-orange: #da7659;

    --dark-shade: #0b0b0b;
    --light-shade: #efefef;

    --trn-purple: #5a3b6b88;
    --trn-red: #af456288;
    --trn-beige: #e4cca788;
    --trn-teal: #6f949e88;
    --trn-orange: #da765988;

    --trn-dark-shade: #0b0b0baa;
    --trn-light-shade: #efefef88;
}