<div class="general-panel">
    <app-admin-operation-panel>
        <div title>
            Club Operations
        </div>

        <div op1>Enable Editing</div>
        <div op2>Add Members</div>
        <div op3>List Members</div>
    </app-admin-operation-panel>
</div>

<div class="clubs">
    <h2 class="title">List of Members:</h2>
    <app-member-card></app-member-card>
    <app-member-card></app-member-card>
    <app-member-card></app-member-card>
    <app-member-card></app-member-card>
</div>