<app-nav-panel></app-nav-panel>

<iframe src="https://my.spline.design/discover-f4e6e2fd3a2cccabbd611a3bf4070c33/" allowfullscreen></iframe>
<!-- <iframe src="https://my.spline.design/chips-c0c4c913d96cdf6715f3e9db6474f197/" allowfullscreen></iframe> -->

<!-- <router-outlet></router-outlet> -->
<app-admin-page></app-admin-page>

<div class="blocker">
    <span data_text="U"></span>
    <span data_text="n"></span>
    <span data_text="d"></span>
    <span data_text="e"></span>
    <span data_text="r"></span>

    <span data_text="&nbsp;"></span>

    <span data_text="D"></span>
    <span data_text="e"></span>
    <span data_text="v"></span>
    <span data_text="o"></span>
    <span data_text="lopment"></span>

</div>
<!-- <app-list-clubs></app-list-clubs> -->
<!-- <app-login-form></app-login-form> -->
<!-- <app-registration-form></app-registration-form> -->

<!-- <h1 class="masked-text">HELLO WORLD</h1> -->
<app-footer></app-footer>