iframe {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    opacity: 0.25;
    border: none;
}

.blocker {
    position: fixed;
    bottom: 0;
    right: 0;

    width: 200px;
    height: 80px;

    /* border-radius: 50%; */

    /* background-color: var(--trn-dark-shade); */
    -webkit-backdrop-filter: blur(1000px);
    backdrop-filter: blur(1000px);
}