<app-nav-panel></app-nav-panel>

<!-- <iframe src="https://my.spline.design/discover-f4e6e2fd3a2cccabbd611a3bf4070c33/" allowfullscreen></iframe> -->
<iframe src="https://my.spline.design/chips-c0c4c913d96cdf6715f3e9db6474f197/" allowfullscreen></iframe>
<div class="blocker"></div>
<!-- <app-list-clubs></app-list-clubs> -->
<!-- <app-login-form></app-login-form> -->
<!-- <app-admin-page></app-admin-page> -->
<!-- <app-registration-form></app-registration-form> -->

<!-- <h1 class="masked-text">HELLO WORLD</h1> -->

<router-outlet></router-outlet>

<app-footer></app-footer>