<div class="panel">
    <div class="panel-desc">
        <h1>
            <ng-content select="[title]"></ng-content>
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt
            ut labore et dolore magna aliqua.
        </p>
    </div>
    <div class="grid-panel">
        <div class="element"><ng-content select="[op1]"></ng-content></div>
        <div class="element"><ng-content select="[op2]"></ng-content></div>
        <div class="element"><ng-content select="[op3]"></ng-content></div>
    </div>
</div>