.list-clubs {
    width: 100%;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

app-list-members {
    width: 100%;
    max-width: 1200px;
}

app-club-item:last-child {
    margin-bottom: 20px;
}