<div class="general-panel">
    <app-admin-operation-panel>
        <div title>
            Club Operations
        </div>

        <div op1>Enable Editing</div>
        <div op2>Add Club</div>
        <div op3>List Clubs</div>
    </app-admin-operation-panel>
</div>

<div class="clubs">
    <h2 class="title">List of Clubs:</h2>
    <app-club-item class="club-item">
        <app-mingle-button buttonText="Edit"></app-mingle-button>
        <app-mingle-button buttonText="Remove"></app-mingle-button>
    </app-club-item>

    <app-club-item class="club-item">
        <app-mingle-button buttonText="Edit"></app-mingle-button>
        <app-mingle-button buttonText="Remove"></app-mingle-button>
    </app-club-item>

    <app-club-item class="club-item">
        <app-mingle-button buttonText="Edit"></app-mingle-button>
        <app-mingle-button buttonText="Remove"></app-mingle-button>
    </app-club-item>

    <app-club-item class="club-item">
        <app-mingle-button buttonText="Edit"></app-mingle-button>
        <app-mingle-button buttonText="Remove"></app-mingle-button>
    </app-club-item>
</div>