<div class="ann-div">
    <div class="container-lg max-div">
        <select class="" title="Announcement Type" id="ann-type">
            <option value="1">General</option>
            <option value="2">Arts & Crafts</option>
            <option value="3">Photography</option>
            <option value="4">Culturehood</option>
        </select>
        <textarea type="text" class="announcement "
            placeholder="#Announcement Title&#10;Make the content of your announcement in a new line"
            rows="8"></textarea>
        <app-mingle-button buttonText="Make Announcement" class="ann-btn "></app-mingle-button>

        <div class="title">
            Notifications
        </div>
        <app-notification ann_auth="Dreaserous" ann_title="Pendulum Art"
            ann_content="Lorem Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat."></app-notification>
    </div>
</div>