<div class="login-form">
    <div class="form-element">
        <form action="login">
            <h1 class="title">Login</h1>
            <label for="username"><b>Username</b></label>
            <input type="text" placeholder="Enter Username" name="username" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required>
            <div class="center-btn">
                <app-mingle-button buttonText="Login"></app-mingle-button>
            </div>
            <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label>
        </form>
    </div>
</div>