<div class="register-form">
    <div class="form-element">
        <form>
            <h1 class="title">Register</h1>
            <label for="rollnumber"><b>Roll Number</b></label>
            <input id="rollnumber-input" type="text" placeholder="CSXXB10YY" name="rollnumber" required>

            <!-- <label for="name"><b>Name</b></label>
            <input type="text" placeholder="Enter Name" name="name" required>

            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>

            <label for="role"><b>Role</b></label>
            <input type="text" placeholder="Enter Role" name="role" required>

            <label for="password"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="password" required> -->

            <div class="center-btn">
                <app-mingle-button buttonText="Register"></app-mingle-button>
            </div>

            <span class="message"></span>
            <!-- <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
            </label> -->
        </form>
    </div>
</div>